body{
    background-image: url("Galaxy\ Background\ Test.gif");
    background-repeat: no-repeat;
    background-size:cover;
    background-color: black;
    border-style:double;
    padding:10px;
    color:goldenrod;
    text-shadow: 2px 2px black;
}

h2{
    color:yellow;
    text-shadow: 2px 2px black;
}

.floatLeft{
    width: 50%; float: left;
}
.floatRight{
    width: 50%; float: right;
}
.container{
    overflow: hidden;
}

table{
    border-style:solid;
    border-width: 1px;
    border-color:grey;
}

th{
    padding:5px;
    padding-right:10px;
    border-left: 1px solid grey;
    border-right: 1px solid grey;
}

td{
    padding:5px;
    padding-right:10px;
    border-left: 1px solid grey;
    border-right: 1px solid grey;
}